---
import BlogLayout from '../../layouts/BlogLayout.astro'
import { Breadcrumbs, BreadcrumbsItem } from 'accessible-astro-components'
import { getCollection } from 'astro:content'

export async function getStaticPaths() {
  const posts = await getCollection('blog')
  return posts.map((post) => ({
    params: { post: post.slug },
    props: { post },
  }))
}

const { post } = Astro.props
const { Content } = await post.render()
console.log(post)
---

<BlogLayout
  title={post.data.title}
  description={post.data.excerpt || ''}
  url={post.slug}
  isPost={true}
  date={post.data.date}
  image={post.data.thumbnail}
>
  <div class="my-2 mb-8 text-sm italic text-neutral-600">
    <Breadcrumbs>
      <BreadcrumbsItem href="/" label="Home" />
      <BreadcrumbsItem href="/blog" label="Blog" />
      <BreadcrumbsItem currentPage={true} label={post.data.title} />
    </Breadcrumbs>
  </div>
  <div class="blog-content">
    <Content />
  </div>
</BlogLayout>

<style lang="scss">
  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;

    @media (min-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }

    @media (min-width: 950px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .blog-content {
    :global(> h1),
    :global(> h2),
    :global(> h3),
    :global(> h4),
    :global(> h5),
    :global(> h6),
    :global(> p),
    :global(> ul),
    :global(> ol),
    :global(> blockquote) {
      margin-bottom: 1rem;
    }

    :global(> ul),
    :global(> ol) {
      margin-left: 1.5rem;
      display: block;
    }

    :global(> blockquote) {
      margin-left: 1rem;
      padding-left: 1rem;
      border-left: 3px solid var(--action-color);
    }
  }
</style>
